<ion-app>
  <ion-split-pane>

    <ion-menu [ngClass]="{ 'custom-class-name': newStyle }">
      <ion-header>
        <ion-toolbar color="medium">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
          <ion-list-header>
            Navegacion
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item button (click)="navigate(p.url)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn">
          <ion-list-header>
            Cuenta de usuario
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/account')">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Cuenta de usuario
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/support')">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Soporte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Cerrar sesion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

        <ion-list *ngIf="!loggedIn">
          <ion-list-header>
            Cuenta de usuario
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/login')">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Iniciar sesion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/support')">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Soporte
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/signup')">
              <ion-icon slot="start" name="person-add"></ion-icon>
              <ion-label>
                Registrarse
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>
            Tutorial
          </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="openTutorial()">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Mostrar tutorial</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
